<form action="" class="w-[300px] space-y-2.5 text-darkBG text-[18px]">
    <div class="flex gap-2.5">
        <input type="lastname" name="lastname" placeholder="Nom*" required
            class="w-full bg-grayDarkM rounded-lg px-3 py-2">
        <input type="firstname" name="firstname" placeholder="Prénom*" required
            class="w-full bg-grayDarkM rounded-lg px-3 py-2">
    </div>

    <input type="email" name="email" placeholder="Email*" required class="bg-grayDarkM rounded-lg px-3 py-2 w-full">
    <input type="password" name="password" placeholder="Mot de passe*" required
        class="bg-grayDarkM rounded-lg px-3 py-2 w-full">
    <input type="password" name="password" placeholder="Confirmer mot de passe*" required
        class="bg-grayDarkM rounded-lg px-3 py-2 w-full">
    <select name="" id="" class="bg-grayDarkM rounded-lg px-3 py-2.5 w-full">
        <option disabled selected value="">Profil type</option>
        <option value="test">test</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
    </select>
</form>